html body{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    min-width: 260px;
    color: #333;
}


#main{
  margin:30px auto;
  padding:15px;
  border:0px solid;
  border-radius:5px;
    background-clip: #ccc;
}
img {
    max-width: 600px; 
}

img:hover{
  border: 10px solid red;
}

#ascuns {
    overflow: hidden;
    position: absolute;
    padding: auto;
    margin: auto;
}

#ascuns:hover{
    border: 5px solid red;
}
#img-div {
    width: 400px;
    height: 350px;
    margin: auto;
    background-image: url(images/doc1.jpg);
    background-size: cover;
    background-color: white;
    border: 10px solid gray; 
    transition: ease 0.5s;
}

#img-div:hover{
      width: 400px;
    height: 350px;
    margin: auto;
    background-image: url(images/doc.jpg);
    background-size: cover;
    background-color: white;
    border: 10px solid gray; 
}



#img-caption{
    font-size: 50px;
}


h1{
    text-transform: uppercase;
    text-align: center;
    padding-top: 3%;
}

.headline{
    margin-top: 50px;
    font-weight: 100;
    text-align: center;
    text-indent: 20px;
}

.scris{
    max-width: 550px;
    margin: 0 auto;

}
header{
  left: 0;
    top: 0;
    position: fixed;
    height: 50px;
    text-align: center;
    width: 100%;
    background: #eee;
    border-bottom: 2px solid #2e6c9b; 
}
header ul li a{
    text-decoration: none;
    color: #ccc;
    transition: ease 0.3s;
}

header ul li a:hover{
    color: #2e6c9b;
    font-size: 20.2px;
}
header ul li{
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase;
    padding: 15px;
    
}
header ul {
    padding: 0;
    margin: 0;
}
p{
    padding-top: 3px;
    
}


.footer{
    font-weight: 800;
    font-size: 11px;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    border-top: 2px solid #2e6c9b;
}